{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="container rounded bg-white mt-5 mb-5">
        <form class="form" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5"
                             width="150px"
                             height=""
                             src="{{ user.profile_image.url }}"
                             alt=".."/>
                        <span class="font-weight-bold">{{ user.first_name }}</span><span class="text-black-50">{{ user.email }}</span>
                    </div>
                </div>
                <div class="col-md-4 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="pb-3">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Delivery Informations</h4>
                            </div>
                            <div class="d-grid gap-2">
                                {{ delivery_formset.management_form }}
                                {% for form in delivery_formset %}
                                    <button class="m-2 btn btn-outline-dark"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#deliveryInfoForm-{{ forloop.counter }}"
                                            aria-expanded="false"
                                            aria-controls="deliveryInfoForm-{{ forloop.counter }}">
                                        {% if form.alias.value %}
                                            Edit informations "{{ form.alias.value|default_if_none:"" }}"
                                        {% else %}
                                            <span class="fw-bold">Add new informations</span>
                                        {% endif %}
                                    </button>
                                    <div class="collapse" id="deliveryInfoForm-{{ forloop.counter }}">{% bootstrap_form form %}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="pb-3">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Billing Informations</h4>
                            </div>
                            <div class="d-grid gap-2">
                                {{ billing_formset.management_form }}
                                {% for form in billing_formset %}
                                    <button class="m-2 btn btn-outline-dark"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#billingInfoForm-{{ forloop.counter }}"
                                            aria-expanded="false"
                                            aria-controls="billingInfoForm-{{ forloop.counter }}">
                                        {% if form.alias.value %}
                                            Edit informations "{{ form.alias.value|default_if_none:"" }}"
                                        {% else %}
                                            <span class="fw-bold">Add new informations</span>
                                        {% endif %}
                                    </button>
                                    <div class="collapse" id="billingInfoForm-{{ forloop.counter }}">{% bootstrap_form form %}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-dark" type="submit">Save Profile</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
{% block extra_body %}
{% endblock extra_body %}
