{% extends "moderator/moderator_layout.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block moderator_content %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-12">
                <div class="p-3 py-5">
                    <div class="row">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">{{ order }} of customer {{ order.customer }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card rounded-1 shadow mb-5 mb-sm-3" id="shoppingBag">
                                <h5 class="card-header">Shopping Bag</h5>
                                <div class="card-body p-4">
                                    <div class="row fw-bold text-center">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col-lg-4 d-none d-lg-block text-start">
                                                    <span class="h5">Item</span>
                                                </div>
                                                <div class="col d-none d-lg-block">
                                                    <span class="text-muted">Item stock</span>
                                                </div>
                                                <div class="col d-none d-lg-block">
                                                    <span class="text-muted">Item price</span>
                                                </div>
                                                <div class="col d-none d-lg-block">
                                                    <span class="text-muted">Quantity</span>
                                                </div>
                                                <div class="col d-none d-lg-block">
                                                    <span class="text-muted">Price</span>
                                                </div>
                                                <div class="col d-none d-lg-block"></div>
                                            </div>
                                            {% for item in cart_items %}
                                                {% if forloop.counter0 %}
                                                    <hr/>
                                                {% else %}
                                                    <hr class="border border-2 opacity-50 d-none d-lg-block" />
                                                {% endif %}
                                                <div class="row mb-3 mt-3 align-items-center">
                                                    <div class="col-12 col-lg-4 pb-3 pb-lg-0">
                                                        <div class="row">
                                                            <div class="col-6 col-lg-6 align-items-center">
                                                                <img src="{{ item.product_variant.product.images.first.cart_thumbnail.url|default:'None' }}"
                                                                     class="img-fluid rounded-3"
                                                                     height="150"
                                                                     width="120"
                                                                     alt="{{ item.product_variant.product.product_name }}"/>
                                                            </div>
                                                            <div class="col">
                                                                <div class="col pb-lg-3 pb-sm-0">
                                                                    <a class="text-decoration-none text-dark"
                                                                       href="{% url 'product_detail' item.product_variant.product.slug %}">{{ item.product_variant.product.product_name }}</a>
                                                                </div>
                                                                <div class="col pb-0">
                                                                    <span class="text-muted">Variant:</span> {{ item.product_variant.variant }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-sm-3 col-lg align-middle mb-2 mb-lg-0">{{ item.product_variant.quantity }}</div>
                                                    <div class="col-6 col-sm-3 col-lg align-middle">
                                                        <span class="d-lg-none text-muted">Item price:</span> ${{ item.price }}
                                                    </div>
                                                    <div class="col-6 col-sm-3 col-lg align-middle">
                                                        <form action="{% url 'update_order_cart_item' item.id %}"
                                                              method="post"
                                                              class="d-flex">
                                                            {% csrf_token %}
                                                            {{ item.cart_item_update_form.quantity }}
                                                            <button type="submit" class="btn btn-link px-2">
                                                                <i class="bi bi-arrow-clockwise"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                    <div class="col-6 col-sm-3 col-lg align-middle">
                                                        <span class="d-lg-none text-muted">Total item price:</span> ${{ item.get_total_item_price }}
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-lg align-middle mt-3">
                                                        <a class="btn btn-link px-2" href="{% url 'remove_from_cart' item.id %}">
                                                            <i class="text-danger bi bi-trash"></i>
                                                        </a>
                                                    </div>
                                                    {% comment %} {% if forloop.last %}
                                                        <button class="m-2 btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#cartItemForm-{{ forloop.counter }}" aria-expanded="false" aria-controls="cartItemForm-{{ forloop.counter }}">
                                                            <span class="fw-bold">Add new item</span>
                                                        </button>
                                                        <div class="collapse" id="cartItemForm-{{ forloop.counter }}">{% bootstrap_form form layout='horizontal' %}</div>
                                                    {% endif %} {% endcomment %}
                                                </div>
                                            {% endfor %}
                                            <hr class="border border-2 opacity-50" />
                                            <div class="row">
                                                <div class="form-floating col-12 col-lg-6 d-flex mb-3 mb-lg-0">
                                                    <input type="text" id="form1" class="form-control"/>
                                                    <label class="fw-normal ms-1 text-start" for="form1">Discound code</label>
                                                    <button type="button" class="btn btn-outline-dark btn-lg ms-3">Apply</button>
                                                </div>
                                                <div class="col-12 col-lg-6 text-center">
                                                    <span class="text-muted fs-5">Subtotal:</span>
                                                    <span class="fw-bold fs-5">${{ cart.get_subtotal_cart_price }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xl-12 mb-4 mb-md-0">
                            <div class="row">
                                <div class="col-md-6 d-flex align-items-stretch">
                                    <div class="card justify-content-between rounded-1 shadow mb-5 mb-sm-3 w-100">
                                        <h5 class="card-header">Billing address</h5>
                                        <form action="{% url 'update_delivery_method_cart' request.session.cart_id %}"
                                              method="post">
                                            <div class="card-body p-4">
                                                <div class="row">
                                                    <div class="col">
                                                        <div>{% bootstrap_form billing_address_form %}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer text-center">
                                                <button type="submit" class="btn btn-outline-dark px-2">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex align-items-stretch">
                                    <div class="card justify-content-between rounded-1 shadow mb-5 mb-sm-3 w-100">
                                        <h5 class="card-header">Delivery address</h5>
                                        <form action="{% url 'update_payment_method_cart' request.session.cart_id %}"
                                              method="post">
                                            <div class="card-body p-4">
                                                <div class="row">
                                                    <div class="col">
                                                        <div>{% bootstrap_form delivery_address_form %}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer text-center">
                                                <button type="submit" class="btn btn-outline-dark px-2">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card rounded-1 shadow mb-5 mb-sm-3" id="orderDetails">
                                <form action="{{ url_action }}" method="post" class="form">
                                    <h5 class="card-header">{{ order }}</h5>
                                    <div class="card-body p-4">
                                        <div class="row fw-bold text-center">
                                            <div class="col">
                                                {% csrf_token %}
                                                {{ form.media }}
                                                {% bootstrap_form form layout='horizontal' %}
                                                <h6>
                                                    Total Price: {{ order.total_price }}
                                                </h6>
                                            </div>
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col-3">
                                                        <h6>
                                                            Note:
                                                        </h6>
                                                    </div>
                                                    <div class="col fw-normal text-start">
                                                        <p>
                                                            {{ order.note }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <button type="submit" class="btn btn-outline-dark">
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="mt-5 text-center">
                <button class="btn btn-secondary btn-dark btn-login" type="submit">
                    Save Order
                </button>
            </div> {% endcomment %}
        </div>
    </div>
{% endblock moderator_content %}
{% block extra_body %}
{% endblock extra_body %}
