{% extends "moderator/moderator_layout.html" %}
{% block moderator_content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Index</th>
                <th scope="col">Category</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ category.category_name }}</td>
                    <td>
                        <a class="btn btn-success"
                           href="{% url 'update_product_category' category.id %}">Edit</a>
                        <a class="btn btn-outline-danger"
                           href="{% url 'delete_product_category' category.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">
                    <a href="{% url 'create_product_category' %}">Add more categories</a>
                </th>
            </tr>
        </tfoot>
    </table>
{% endblock moderator_content %}
