<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
        {% extends "base.html" %}
        {% block content %}
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row justify-content-center">
                    {% if categories %}
                    {% for category in categories %}

                    <div>
                        <a class="btn" href={% url "category_detail" category.id %}>
                            <h2>{{category.category_name}}</h2>
                            <p>{{ category.category_description }}</p>
                        </a>
                    </div>
                    
                    {% endfor %}
                    {% else %}
                    <h5>No categories yet</h5>
                    {% endif %}
                </div>
            </div>
        </section>

        {% endblock %}

</body>
</html>
    