{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="container px-4 px-lg-5 mt-5">
        <section class="h-100 h-custom">
            <div class="container h-100 py-5">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row pb-3">
                                <div class="col">
                                    <a href="{% url 'cart' %}" class="btn btn-outline-dark">Back to cart</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card rounded-1 shadow mb-5 mb-sm-3 w-100">
                                        <h5 class="card-header">Customer informations</h5>
                                        <div class="card-body p-4">
                                            <div class="row">
                                                <div class="col">
                                                    <div>{% bootstrap_form customer_form %}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-12 col-sm-4 d-flex align-items-stretch">
                                    <div class="card rounded-1 shadow mb-5 mb-sm-3 w-100">
                                        <h5 class="card-header">Billing informations</h5>
                                        <h6 class="text-danger text-center p-2">Don't forget to fill out this form!</h6>
                                        <div class="card-body p-4">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        {% for billing_information in customer.billing_informations.all %}
                                                            <div class="col-6 text-center pb-3">
                                                                {% if customer.preferred_billing_information == billing_information %}
                                                                    <a href="{% url 'update_preferred_billing_information' billing_information.id %}"
                                                                       class="btn btn-dark w-75">{{ billing_information.alias }}</a>
                                                                {% else %}
                                                                    <a href="{% url 'update_preferred_billing_information' billing_information.id %}"
                                                                       class="btn btn-outline-dark w-75">{{ billing_information.alias }}</a>
                                                                {% endif %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% if user.is_authenticated %}<hr/>{% endif %}
                                            <div class="row">
                                                <div class="col">
                                                    <div>{% bootstrap_form billing_form %}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 d-flex align-items-stretch">
                                    <div class="card rounded-1 shadow mb-5 mb-sm-3 w-100">
                                        <h5 class="card-header">Delivery informations</h5>
                                        <h6 class="text-danger text-center p-2">Don't forget to fill out this form!</h6>
                                        <div class="card-body p-4">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        {% for delivery_information in customer.delivery_informations.all %}
                                                            <div class="col-6 text-center pb-3">
                                                                {% if customer.preferred_delivery_information == delivery_information %}
                                                                    <a href="{% url 'update_preferred_delivery_information' delivery_information.id %}"
                                                                       class="btn btn-dark w-75">{{ delivery_information.alias }}</a>
                                                                {% else %}
                                                                    <a href="{% url 'update_preferred_delivery_information' delivery_information.id %}"
                                                                       class="btn btn-outline-dark w-75">{{ delivery_information.alias }}</a>
                                                                {% endif %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% if user.is_authenticated %}<hr/>{% endif %}
                                            <div class="row">
                                                <div class="col">
                                                    <div>{% bootstrap_form delivery_form %}</div>
                                                    {{ delivery_form.field_name.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 d-flex align-items-stretch">
                                    <div class="card rounded-1 shadow mb-5 mb-sm-3 w-100">
                                        <h5 class="card-header">Cart</h5>
                                        <div class="card-body p-4 fw-bold">
                                            {% load cart_tags %}
                                            {% get_cart_items as cart %}
                                            {% if cart %}
                                                <div class="row">
                                                    {% for item in cart.items.all %}
                                                        <div class="row pb-3">
                                                            <div class="col-4 col-lg-4 align-items-center">
                                                                <img src="{{ item.product_variant.product.images.first.cart_thumbnail.url|default:'None' }}"
                                                                     class="img-fluid rounded-3"
                                                                     height="150"
                                                                     width="120"
                                                                     alt="{{ item.product_variant.product.product_name }}"/>
                                                            </div>
                                                            <div class="col">
                                                                <div class="col pb-lg-1 pb-sm-3">
                                                                    <a class="text-decoration-none text-dark"
                                                                       href="{% url 'product_detail' item.product_variant.product.slug %}">{{ item.product_variant.product.product_name }}</a>
                                                                </div>
                                                                <div class="col pb-0 pb-sm-3">
                                                                    <span class="text-muted">Variant:</span> {{ item.product_variant.variant }}
                                                                </div>
                                                            </div>
                                                            <div class="col">${{ item.get_total_item_price }}</div>
                                                        </div>
                                                        <hr/>
                                                    {% endfor %}
                                                    <div class="row pb-3">
                                                        <div class="col text-muted">Delivery method</div>
                                                        <div class="col">{{ cart.delivery_method }}</div>
                                                    </div>
                                                    <hr/>
                                                    <div class="row pb-3">
                                                        <div class="col text-muted">Payment method</div>
                                                        <div class="col">{{ cart.payment_method }}</div>
                                                    </div>
                                                    <hr/>
                                                    <div class="row pb-3">
                                                        <div class="col text-muted">Discount</div>
                                                        <div class="col">{{ cart.code }}</div>
                                                    </div>
                                                    <hr/>
                                                    <div class="row pb-3">
                                                        <div class="col text-muted">Total price</div>
                                                        <div class="col">$ {{ cart.get_total_cart_price }}</div>
                                                    </div>
                                                    <hr/>
                                                    <div class="row pb-3">
                                                        <div class="col">{% bootstrap_form form %}</div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <p>
                                                    Sorry, there are no items in the cart.
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'cart' %}" class="btn btn-outline-dark btn-lg">Back to cart</a>
                                </div>
                                <div class="col text-end">
                                    <button class="btn btn-dark btn-lg"  type="submit">
                                        Create Order
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
