{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block header %}
  Admin in style
{% endblock header %}
{% block content %}
  <div class="container rounded bg-white mt-5 mb-5">
    <form class="form" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-4 border-right">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Product:</h4>
            </div>
            {% csrf_token %}
            {% bootstrap_form form %}
          </div>
        </div>
        <div class="col-md-4 border-right">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Variants:</h4>
            </div>
            {{ variants_formset.management_form }}
            {% for form in variants_formset %}
              {% bootstrap_form form %}
            {% endfor %}
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Images</h4>
            </div>
            {{ images_formset.management_form }}
            {% for form in images_formset %}
              {% bootstrap_form form %}
            {% endfor %}
          </div>
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-secondary btn-dark btn-login" type="submit">Save Product</button>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
{% block extra_body %}
{% endblock extra_body %}
