<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <body>
        {% extends "base.html" %}
        {% block content %}
   
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.product_image.url}}" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: {{product.product_sku}}</div>
                        <h1 class="display-5 fw-bolder">{{product.product_name}}</h1>
                        <div class="fs-5 mb-5">
                            {% if product.original_price >  product.product_price%}
                            <span class="text-decoration-line-through">${{product.original_price}}</span>
                            {% endif %}
                            <span>${{product.product_price}}</span>
                            <!-- Product reviews-->
                            {% if product.product_evaluation >  0 %}
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <span class="fw-bolder">{{product.product_evaluation}}/5</span> <div class="bi-star-fill"></div>
                            </div>
                            {% endif %}
                        </div>
                        <p class="lead">{{product.product_description}}</p>
                        <div class="">
                            <form action="add-item/" method="POST" class="d-flex btn-block">
                                {% csrf_token %}
                                <input type="hidden" type="text" name='product' value='{{product.id}}'>
                                <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                                <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                    <i class="bi-cart-fill me-1"></i>
                                    Add to cart
                                </button>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Related products</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% load display_products %}
                    {% show_products product.product_category %}
                </div>
            </div>
        </section>


        {% endblock %}

    </body>
</body>
</html>
