{% extends "account/base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block form %}

<h5 class="card-title text-center mb-5 fw-light fs-5">{% trans "Change Password" %}</h5>
<form class="form" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}  
    {% bootstrap_form form %}    
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <div class="d-grid">
        <button class="btn btn-secondary btn-dark btn-login text-uppercase fw-bold" type="submit">{% trans "Change Password" %}</button>
    </div>
    <div class="d-grid pt-2">
        <a class="btn link-secondary text-decoration-none text-center" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
    
</form>

{% endblock %}

<!--
<h1>{% trans "Change Password" %}</h1>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action">{% trans "Change Password" %}</button>
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>-->