{% extends "account/base.html" %}

{% load django_bootstrap5%}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block form %}

<h5 class="card-title text-center mb-5 fw-light fs-5">{% trans "Sign Up" %}</h5>
            <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in.</a>{% endblocktrans %}</p>
            <form method="POST"  id="signup_form" action="{% url 'account_signup' %}">
                {% csrf_token %}  
                {% bootstrap_form form %}  
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
<div class="d-grid">
  <button class="btn btn-outline-dark fw-bold text-uppercase text-decoration-none text-center" type="submit">{% trans "Sign Up" %}</button>
</div>
</form>
{% endblock %}

<!--
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in.</a>{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
-->