{% extends "blog/blog_layout.html" %}
{% block blog_content %}
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{ post.author }} | {{ post.created_on }}</div>
                        <!-- Post categories-->
                        {% if post.post_category %}
                            <a class="badge bg-secondary text-decoration-none link-light"
                               href="{% url 'post_category_detail' post.post_category.slug %}">{{ post.post_category }}</a>
                        {% endif %}
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4">
                        <img class="img-fluid rounded"
                             height=""
                             width=""
                             src="{{ post.post_image.url }}"
                             alt="{{ post.title }}"/>
                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        {{ post.content | safe }}
                    </section>
                </article>
                <!-- enable disable comments -->
                {% if not post.status == 3 %}
                    {% block comments %}
                        {% include "blog/comments.html" %}
                    {% endblock comments %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock blog_content %}
