{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% bootstrap_css %}
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description"
              content="Jednoduchý eshop pro nízký počet produktů a kategorií. Vytvořeno jako součást rekvalifikačního kurzu od www.itnetwork.cz."/>
        <meta name="author" content="BrtVn" />
        <title>
            {% block title %}
                Ecommerce website
            {% endblock title %}
        </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
              rel="stylesheet"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="css/styles.css" rel="stylesheet" />-->
    </head>
    <body>
        <!-- Navigation-->
        {% block navigation %}
            {% include "navigation.html" %}
        {% endblock navigation %}
        <!-- Header-->
        <header class="bg-dark py-5 border-bottom mb-4">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">
                        {% block header %}
                            Shop in style
                        {% endblock header %}
                    </h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this awesome shop template</p>
                </div>
            </div>
        </header>
        {% bootstrap_messages %}
        <!-- Section-->
        {% block content %}
        {% endblock content %}
        <!-- Footer -->
        {% load footer %}
        {% show_footer %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        {% block extra_body %}
        {% endblock extra_body %}
    </body>
</html>
